@using System.Globalization
@using PizzaAppDomain
@model List<Pizza>

@{
    ViewData["Title"] = "Index";
}

<h2>Enrico</h2>
<br />

<div class="container">
    <table class="table">
        <tbody>
            @{
                foreach (var pizza in Model)
                {
                    <tr>
                        <td>
                            <h4>@pizza.PizzaName</h4>
                            <p>@pizza.Description</p>
                        </td>
                        <td>Small: @pizza.GetPrice(PizzaSize.Small).ToString("C", new CultureInfo("mk-MK"))</td>
                        <td>Medium: @pizza.GetPrice(PizzaSize.Medium).ToString("C", new CultureInfo("mk-MK"))</td>
                        <td>Large: @pizza.GetPrice(PizzaSize.Large).ToString("C", new CultureInfo("mk-MK"))</td>
                        <td>
                            <a asp-action="Details" asp-controller="Pizza" asp-route-id="@pizza.Id">Details</a> |
                            <a asp-action="Edit" asp-controller="Pizza" asp-route-id="@pizza.Id">Edit</a> |
                            <a asp-action="Delete" asp-controller="Pizza" asp-route-id="@pizza.Id">Delete</a>
                        </td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-action="Add" asp-controller="Pizza" class="btn btn-primary">Create new pizza</a>
</div>